@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
:root {}
html,
body {
    position: relative;
    color: var(--theme-base-color);
}
html {
    min-width: 320px;
    background: var(--theme-html-bg-color);
}
body {
    padding: 60px;
    max-width: 1024px;
    margin: 0 auto;
    box-sizing: content-box;
}
#app {
    min-height: calc( 100vh - 120px );

    display: flex;
    flex-flow: column;
    justify-content: space-between;

    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;

    background: var(--theme-base-bg-color);
}
/* экономим место на маленьких) */
@media (max-width: 640px) {
    body {
        padding: 5px;
    }
    #app {
        min-height: calc( 100vh - 10px );
    }
}


/*    HEADER   */
.pageHeader {
    height: 57px;
    width: 100%;
    background-color: var(--theme-fifth-color);
    display: grid;
    grid-template-columns: 57px 12fr;
    align-items: center;

    border-radius: 8px 8px 0 0;
    -moz-border-radius: 8px 8px 0 0;
    -webkit-border-radius: 8px 8px 0 0;
}
.mainTitle {
    text-align: center;
    color: var(--theme-six-color);
}

.mainLogo > img {
    width: 100%;
    height: auto;
}
/*   END HEADER   */


/*    BODY   */
.pageBody {
    display: flex;
    flex-flow: column-reverse;
    height: 100%;
}
.pageBody > div {
    display: flex;
    align-items: center;
}
/*    END DODY   */


/*    FOOTER   */
.pageFooter {
    height: 40px;
    width: 100%;
    background-color: var(--theme-fifth-color);
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 0 0 8px 8px;
    -moz-border-radius: 0 0 8px 8px;
    -webkit-border-radius: 0 0 8px 8px;
}
.pageFooter .appVersion,
.pageFooter .copy {
    padding: 2px 5px;

    color: var(--theme-third-color);
}
.pageFooter .appVersion {
    float: left;
}
/*    END FOOTER   */



/*    MAIN LINE LOADER   */
.pageLineLoader {
    background: transparent;
    overflow: hidden;
    width: 100%;
    height: var(--line-loader-size);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    z-index: 1;
}

.pageLineLoader.pageLineLoaderAction {
    background-color: var(--line-loader-main-color);
}

.pageLineLoader.pageLineLoaderError {
    background-color: var(--line-loader-error-color);
}

.pageLineLoaderTrack {
    height: var(--line-loader-size);
    width: 100%;
    background: var(--line-loader-back-color);
}
.pageLineLoaderTrack:before {
    content: '';
    display: block;
    height: var(--line-loader-size);
    width: 0;
    animation: getWidth var(--line-loader-time) ease-in infinite;

    background-color: var(--line-loader-loader-color);
}
@keyframes getWidth {
    100% {
        width: 100%;
    }
}
/*    END MAIN LINE LOADER   */


/*    MAIN POPUP ALERT   */
.pagePopupAlert {
    width: 300px;
    min-height: 150px;
    position: fixed;
    top: 50px;
    left: 10px;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;

    background-color: var(--theme-fifth-color);
    color: var(--theme-forth-color);
}
.pagePopupAlert.pagePopupAlertError {
    background-color: var(--line-loader-back-error-color);
    color: var(--line-loader-error-color);
}
.pagePopupAlert .pagePopupAlertTitle {

}
.pagePopupAlert .pagePopupAlertMessage {

}
/*    END MAIN POPUP ALERT   */


/*    TABLE   */
.mainTableWrapper {
    overflow: auto;
    margin: 5px 0;
    padding: 0 5px;
    min-height: 230px;

    position: relative;

    border-radius: 8px 8px 0 0;
    -moz-border-radius: 8px 8px 0 0;
    -webkit-border-radius: 8px 8px 0 0;

    background-color: var(--theme-fifth-color);
}

.mainTableWrapper table {
    margin: 0;

    border-radius: 8px 8px 0 0;
    -moz-border-radius: 8px 8px 0 0;
    -webkit-border-radius: 8px 8px 0 0;

    border: 1px solid var(--theme-first-color);
}

.mainTableWrapper table th {
    text-align: center;
    font-weight: bold;
    color: var(--theme-first-color);
}
.mainTableWrapper table th .mainTableColumnTitle {
    display: block;
}
@media (max-width: 640px) {
    .mainTableWrapper table th {
        text-align: left;
    }
    .mainTableWrapper table th .mainTableColumnTitle {
        writing-mode: vertical-lr;
    }
    .mainTableWrapper table tr th:first-child .mainTableColumnTitle {
        writing-mode: unset;
    }
}

.mainTableWrapper table td {
    text-align: center;
    color: #000;
}

.mainTableWrapper table th,
.mainTableWrapper table td {
    font-size: 0.7rem;
    padding: 3px;
    border: 1px solid var(--theme-first-color);
}

.mainTableWrapper table tr td:first-child {
    text-align: left;
    font-weight: bold;
    color: var(--theme-first-color);
}

.mainTableMenu {
    padding: 15px 0;

    position: absolute;
    top: 14px;
    left: 15px;
    z-index: 1;

    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;

    box-shadow: 8px 2px 13px 2px;
    -moz-box-shadow: 8px 2px 13px 2px;
    -webkit-box-shadow: 8px 2px 13px 2px;

    background-color: var(--theme-second-color);
    /* border: 1px solid var(--theme-six-color); */
}

.mainTableMenu > .mainTableMenuItem {
    margin: 10px 0;
    padding: 0 10px;
}
.mainTableMenuItem > span {
    display: block;
    border: 1px solid;
    padding: 9px 10px;

    cursor: pointer;

    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
.mainTableMenuItem > span:hover {
    background-color: var(--theme-third-color);
    color: var(--theme-fifth-color);
}

.mainTableMenuToggler {
    width: 30px;
    height: 30px;
    padding: 5px 5px;
    border-radius: 50%;
    vertical-align: baseline;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;

    position: absolute;
    top: 5px;
    left: 8px;
    z-index: 2;

    cursor: pointer;

    background-color: var(--theme-second-color);
    /* border: 2px solid var(--theme-six-color); */
}
.mainTableMenuToggler.mainTableMenuTogglerActive,
.mainTableMenuToggler:hover {
    background-color: var(--theme-third-color);
    color: var(--theme-fifth-color);
}

.mainTableMenuToggler > span {
    display: block;
    margin-top: 2px;
    border-bottom: 2px solid var(--theme-six-color);
}
.mainTableMenuToggler.mainTableMenuTogglerActive > span,
.mainTableMenuToggler:hover > span {
    border-bottom: 2px solid var(--theme-fifth-color);
}

/*    END TABLE   */


/*    CHARTS   */
.mainChartsWrapper {
    height: 100%;
    min-height: 300px;
    overflow: auto;
}
.mainChartsWrapper .mainChartsContainer {
    height: 100%;
    width: 100%;
    min-width: 640px;
}
/*    END TABLE   */