@charset "UTF-8";

* {
    --theme-html-bg-color: #1C1C1C;
    --theme-base-bg-color: #262626;
    --theme-base-color: #787878;

    --theme-first-color: #84542a;
    --theme-second-color: #deba9a;
    --theme-third-color: #5c340c;
    --theme-forth-color: #a47b5a;
    --theme-fifth-color: #d8c8bc;
    --theme-six-color: #5d4936;

    --line-loader-time: 3s;
    --line-loader-size: 3px;
    --line-loader-main-color: #111;
    --line-loader-error-color: #800b0f;
    --line-loader-loader-color: #7b5a94;
    --line-loader-back-color: #b287a9;
    --line-loader-back-error-color: #aa8488;
}